---
import type { CollectionEntry } from 'astro:content';

interface Props {
  organizers:  CollectionEntry<"organizers">[];
}

const { organizers } = Astro.props;
---

<section class="py-16 flex flex-col items-center bg-white px-4">
  <div class="container flex flex-col items-center space-y-16">
    <div class="text-center">
      <h2 class="font-bold text-4xl mb-6">Equipo Organizador</h2>
      <p>Nuestro equipo de logística que trabaja día y noche para llevar a cabo este gran evento.</p>
    </div>

    <div class="flex flex-row justify-center flex-wrap items-center gap-y-8 md:gap-8 w-full">
      {organizers.map(organizer => (
        <div class="flex flex-col w-60 group">
          <a href={organizer.data.url} target="_blank">
            <div class="mb-4 rounded-full overflow-hidden">
              <img class="w-full transition-all duration-100 group-hover:scale-110 animate__animated animate__fadeIn" loading="lazy" src={`/assets/images/organizers/${organizer.data.image}`} alt={organizer.data.name} />
            </div>

            <div class="flex flex-col gap-2 text-center">
              <span class="font-bold  text-xl">{organizer.data.name}</span>
              <span class="text-df-gray-700">{organizer.data.position}</span>
            </div>
            </a>
        </div>
      ))}
    </div>
  </div>
</section>